.wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8ED;
    color: #333;
    height: 982px;
    width: 1512px;
}

.backBtn {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 1412px;
}

.title {
    height: 45px;
    width: 139px;
    margin-top: 229.5px;
    margin-bottom: 0;

    color: #000;
    text-align: center;

    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 45px */
}

.title p {
    margin: 0;
    padding: 0;
}

.subTitle {
    height: 108px;
    width: 200px;
    margin-top: 52px;
    margin-bottom: 0;

    color: #646464;
    text-align: center;
    /* Ko/Md/36 */
    /* font-family: "Pretendard Variable"; */
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 54px */
}

.subTitle p {
    margin: 0;
    padding: 0;
}

.date {
    margin-top: 52px;

    height: 45px;
    width: 124px;
    text-align: center;
}

.date p {
    margin: 0;
    color: #000;
    

    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 45px */
}

.startBtn{
    margin-top: 152px;
    display: flex;
    width: 188px;
    height: 54px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 16px;
    background-color: #FFA321;
}

.start {
    text-decoration: none;
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 600;
}
