.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 모달 컨테이너 */
.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 10000;
}

.modalTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.modalDescription {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.buttonGroup {
  display: flex;
  flex-direction: column; /* 수직 정렬을 위한 설정 */
  gap: 10px;
  width: 100%;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
}


.buttonConfirm {
  flex: 1;
  padding: 12px 16px;
  background-color: #ffa726;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buttonConfirm:hover {
  background-color: #ff9800;
}

.buttonCancel {
  flex: 1;
  padding: 12px 16px;
  background-color: white;
  color: #ffa726;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #ffa726;
  border-radius: 6px;
  cursor: pointer;
}

.buttonCancel:hover {
  background-color: #ffe0b2;
}
